body{
    background-color: #0F62AC;
    color: black;
    align-items: center;
    align-self: center;
    align-content: center;
    align-tracks: center;
}

td{
  color: #3780C3;
}

button{
  background-color: aliceblue;
  color: black;
}